* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

    overflow-x: hidden;
}

body {
    line-height: 1;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    background-color: hsl(240, 78%, 98%);
    background-image: url("images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: auto;
    padding-top: 6rem;
}

.hidden-price {
    display: none;
    transition: all .3s;
}

.pricing {
    background-image: url("images/bg-top.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 2.6rem;
    color: hsl(233, 13%, 49%);
}
.toggle {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.toggle-label {
    color: #b3b5c6;
    font-size: 1.6rem;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(237, 63%, 64%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* CARDS */
.cards {
    display: flex; 
    margin-top: 6rem;
    justify-content: center; 

}
.card {
    background-color: #fff;
    padding: 3rem; 
    border-radius: 9px;
    box-shadow: -5px 10px hsl(240, 78%, 98%);
    width: 35rem; 
}
.premium {
    background: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%)); 
    width: 30rem;
    transform: scale(1.1);
    padding: 3.5rem 3rem;
}
.premium .price, .premium .type, .premium .features li {    
    color: #fff;
}
.type {
    text-align: center;
    font-size: 1.5rem;
    color: hsl(234, 14%, 74%);
}

.price {
    font-size: 6rem;
    text-align: center;
    color: hsl(232, 13%, 33%);
    padding: 2rem 0;
}

.features {
    list-style-type: none;
}

.features li {
    margin-top: 1.5rem;
    font-size: 1.3rem;
    color: hsl(234, 14%, 74%);
    border-top: 1px solid hsl(234, 14%, 74%);
    text-align: center;
    padding-top: 1.8rem;
}

li:last-child {
    border-bottom: 1px solid hsl(234, 14%, 74%);
    padding-bottom: 1.2rem;
}

.button {
    text-align: center;
    padding-top: 2.5rem;
}

.btn {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.2rem;
    border-radius: 0.4rem;
}
.btn-premium {
    background: #fff!important;
    color: hsl(237, 63%, 64%)!important;    
    border: 1px solid transparent;
    transition: all 0.3s;
} 
.btn-premium:hover {
    color: #fff!important;
    background-color: hsl(237, 63%, 64%)!important;
    border: 1px solid #fff;
}
.btn-primary {
    color: #fff;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: all 0.7s;
}
.btn-primary:hover {
    color: hsl(237, 63%, 64%);
    background: #fff;
}
.sign {
    font-size: 3rem;
    vertical-align: middle;
}

@media (max-width: 376px) {
    .container {
        width: 100%;
    }
    .cards {
        flex-direction: column;
    }
}
@media (max-width: 1100px) {
    .container {
        width: 1000px;
    } 
    
    .pricing {
        background-position: top right;
     }
}
@media (max-width: 1024px) {
    .container {
        width: 900px;
    }
}
@media (max-width: 915px) {
     .cards {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
     }
     .card {
        padding: 5rem 3rem;
     }
     .premium {
        width: 35rem;
        transform: scale(1);
     }
     body {
        background-image: none;
     }
}
@media (max-width: 640px) {
    .container {
        width: 600px;
    } 
}
@media (max-width: 510px) {
    .container {
        width: 500px;
    }  
}
@media (max-width: 440px) {
    .container {
        width: 400px;
    }  
}
